
%html
	%head
		%title KeyRef
		= stylesheet_link_tag "blueprint/screen", :media => "screen, projection"
		= stylesheet_link_tag "blueprint/screen", :media => "print"
		= stylesheet_link_tag "styles"
		<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	%body
		.container
			#header
				%h1 Keyboard Shortcut Reference
			= yield :layout
			#footer
				#footer_content
					


		= javascript_include_tag "jquery-1.4.1.min"
		= javascript_include_tag "underscore-min"
		= javascript_include_tag "jquery.qtip-1.0.0-rc3"
		= javascript_include_tag "jquery.quicksearch"
		= javascript_include_tag "app_search"

